@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*
Basic Tags
*/
body {
	overflow-y: scroll;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
}

/*
Custom id and classes
*/
.hide {
	display: none;
}

#cart-header {
	margin-bottom: 10px;
}


/* 
Nav
*/
#icon{
	width:5em; 
	height:5em;
	margin-top: -2em;
	margin-left: -1em;
	margin-right: -2em;
}

h2{
	font-family: 'Fjalla One', sans-serif;
	font-size:5em;
}

li{
	display:inline-block;
}

.glyphicon-shopping-cart{
	font-size: 35px;
	line-height: 50px;
	cursor: pointer;
	margin-right: 20px;
}

.welcome {
	line-height: 50px;
	padding-right: 10px;
}

#inline-block{
	display:inline-block;
}

#home{
	margin-left:-2em;
	margin-right:3em;
}

#others{
	margin-left:.5em;
	margin-right:3em; 
	margin-bottom:-.5em;
}

#search-form{
	display: inline-block; 
	margin-left: -3em;
}

#search-input{
	margin-left:1em;
	height:1.5em; 
	width:8em; 
	border-radius:10px; 
	font-family: 'Roboto', sans-serif;
}

#mglass{
	width:1.5em; 
	height:1.5em; 
	margin-left:.5em; 
	margin-right:1em;
}

#sign-up-bottom{
	margin-bottom:-.65em;
}

#cartButton{
	width:1.8em; 
	height:1.8em;
	margin-left:1em; 
	margin-right:-1em
}

/*
Charity Page
*/

#charity-list{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

/*
Header
*/
.error {
	color: red;
	text-align: center;
	font-weight: bold;
}

/*
Home
*/

#product-image {
	padding-left:.5em;
	padding-right:.5em;
}


.thumbnail{
	padding-top: 15px;
	margin-top:15px;
	padding bottom:15px;
	margin-left: 0px;
}

#action1{
	margin-top: 1em;
}

#action2{
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
}

h3{
	margin-top: 15px;
	text-align: center;
}

h5{
	text-align:center;
}

#menu{
	display:inline-block;
}

.navbar-search{
	border-radius: 10px;
}

.btn {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	padding:0.2em 0.2em;
	text-align: right;
	border-radius:10px;
	margin-left: 4em;
	padding-left: .8em;
	padding-right: .8em;
	vertical-align: bottom;
}

.btn:hover {
    color:#E36C6C;
}

a{
	color:black;
}

a:hover { 
    color:black;
}

footer{
	padding:0px 0px;
	clear:both;
	border-top: 1px solid #eee;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.8em;
	font-family: roboto;
}

.loginmodal-container input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#login{
	float:right;
}
.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
	/* -webkit-user-select: none;
	user-select: none; */
}

.loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #4d90fe;
	padding: 17px 0px;
	font-family: roboto;
	font-size: 14px;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
} 

.login-help{
	font-size: 12px;
}

hr {
	border: 0;
	clear:both;
	display:block;
	width: 96%;               
	background-color: gray;
	height: 1px;
}

#loginButton {
	bottom: 6.25px;
}

#loginList {
	float: right;
	height: 50px;
}

#cart{
	margin-right:20px;
}

footer { 
	bottom: 0;
	padding-bottom: 3%;
}

#viewContainer {
	padding-bottom: 7%;
}


/****** LOGIN MODAL ******/

h1{
	font-family: 'Fjalla One', sans-serif;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin-right:1.8em;
}

.pic{
	margin-top:1em;
}

.position{
	font-style: italic;
	margin-top: .3em;
	font-size: .8em;
}

h4{
	display:inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin-left: 1em;

}
/** Charity PAGE **/
#images img {
	height:200px;
	width:200px;
  padding:10px;
}
#descript{
  font-size:1em;
  font-family: 'Roboto'
  sans-serif;
  margin-top:1em; 
  margin-left:2em;
}
.charity-img {
  margin-bottom:1em;
}

.well {
  background-color: white;
}
/****SELL PAGE****/
#sellForm input, #sellForm textarea {
	margin-bottom: 10px;
}