<!DOCTYPE html>
<html lang="en">
	<head>
 		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<title>Relive</title>
	 	<link rel="shortcut icon" href="shake1.png">
	 	<!--libraries -->
	 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	 	<!--link to other files -->
	    <link rel="stylesheet" href="main.css">
	</head>
	<body>
		<div class = "container">
			<div class="row">
  			<div class="col-md-8">
  				<h1>ABOUT US</h1>
  				<p>We are a group of students at University of Washington who dedicated to turn souvenirs with beautiful memories into practical help to the people all over the world.</p>
				<p>It occurs to us that travellers always purchase all kinds of goods abroad but save them in the drawers. And a lot of them realize some developing countries are in much worse condition than the countries they live in materialistically. A platform like Reliv gives them the opportunities to turn their empathy into monetary help at their finger tip.</p>
				<p>How Reliv is different from traditional donations to a charity directly is that people can actually raise awareness of certain issues while they are donating.  At the homepage, the users will see the items have the most views at the first glance. Some users might not even know about certain issues. Reliv provides them a glance into those issues when they browse through the website. </p>
				<p>We believe enough of that kind of experience will bring about a huge social change in the end for the society. So donating to charity will no longer be just limited to certain populations, but become a common action.</p>
			</div>
  			<div class="col-md-4">
  				<h1>MEET THE TEAM</h1>
  				<div>
	  				<img class="pic" src="img/stella.jpg" alt="stella" style="width:5em;height:5em">
	  				<h4>Stella Ding
	  				<br><p class = "position">Graphic Designer & Founder</h4>
	  			</div>
	  			<div>
	  				<img class="pic" src="img/alex.jpg" alt="alex" style="width:5em;height:5em">
	  				<h4>Alex
	  				<br><p class = "position">Developer & Guitar Player</h4>
	  			</div>
	  			<div>
	  				<img class="pic" src="img/colin.jpg" alt="colin" style="width:5em;height:5em">
	  				<h4>Colin
	  				<br><p class = "position">Developer & Sailor</h4>
  				</div>
  				<div>
	  				<img class="pic" src="img/kensei.jpg" alt="kensei" style="width:5em;height:5em">
	  				<h4>Keisei
	  				<br><p class = "position">Developer & Cuisine Expert</h4>
	  			</div>
			</div>	
		</div>

	</body>
</html>
