<div class="container" id="cart-header">
  <h2>Your Cart</h2>
	<div id ="charge">
		<form action="#/cart">
			<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
				data-image="/img/documentation/checkout/marketplace.png"
				data-name="Payment Information"
				data-amount="2000"
				data-locale="auto">
			</script>
		</form>
	</div>
  
</div>
<div ng-repeat="product in products" class="col-sm-6 col-md-4">
  <div class="thumbnail" id="{{product.id}}">
    <img ng-src="{{product.image}}" alt="{{product.name}}">
    <div class="caption">
      <h3>{{product.name}}</h3>
      <p>{{product.charity}}</p>
      <p>
      	<a ng-click="removeFromCart(product.id)"class="btn btn-primary" role="button">Remove from Cart</a>
     	</p>
     	<p id="success" class="hide alert alert-success">
     		You removed it from your cart!
     	</p>
    </div>
  </div>
</div>
