<div>
	<div class="row">
	<div class="charity" ng-repeat="charity in charities">
		<div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-sm-4">
			<div class="thumbnail well well-sm" id="images">
				<h5>{{charity.title}}</h5>
				<br>
				<h5><a class="title" target="_blank" href="{{charity.link}}"></a></h5>
				<img ng-src="{{charity.image}}" class="charity-img"></img> 
				<p class="collapse" id="{{charity.id}}">{{charity.description}}</p>
				<a class="collapsed information btn btn-default" role="button" id="readMore" data-toggle="collapse" data-target="#{{charity.id}}"></a>				
			</div>	
		</div>
		</div>		
	</div>
	</div>
</div>