<div id="featCharity">
	<img src="img/teachAmerica.jpg">
	<div id="featCharityInfo">
		<h3>Teach For America</h3>
		<p>
		Website: http://www.teachforamerica.org/</br>
		Founded Year: 1990</br>
		Charity Size:1001-5000 employees</br>
		Region Located: New York, US</br>
		Region Served: America
		</p>
	</div>
</div>

<hr>

<img src="img/teachForAmericaBanner.jpg">
<p id="featCharityBannerInfo">
One day, all children in this nation will have the opportunity to attain an excellent education</br></br>
Teach For America works in partnership with communities to expand educational opportunity for children
facing the challenges of poverty. Founded in 1990, Teach For America recruits and develops a diverse corps
of outstanding college graduates and professionals to make an initial two-year commitment to teach in highneed
schools and become lifelong leaders in the movement to end educational inequity. Today, 8,800 corps
members are teaching in 52 urban and rural regions across the country while more than 42,000 alumni work
across sectors to ensure that all children have access to an excellent education. For more information, visit
www.teachforamerica.org.
</p>
