<div>
	<div>
		<p>Sort By: </p>
		<button ng-click="sortBy='added'" class="btn btn-default xsmall sortButton active">Recently Added</button>
		<button ng-click="sortBy='price'" class="btn btn-default xsmall sortButton">Price: Low to High</button>
		<button ng-click="sortBy='-price'" class="btn btn-default xsmall sortButton">Price: High to Low</button>
	</div>
	<div>
		<form class="navbar-search" id="search-form">
			<input type="text" class="form-control" id="search-input" ng-model="searchValue" placeholder="Search">
		</li>
		</ul>	
	</div>
</div>

<div class="row">
	<div ng-repeat="product in products | orderBy:sortBy | filter:searchValue" class="col-sm-6 col-md-3 product">
		<div class="thumbnail" id="{{product.id}}">
			<img ng-src="{{product.image}}" alt="{{product.name}}" id="product">
			<div class="caption">
				<h3>{{product.name}}</h3>
				<h3>{{"$" + product.price}}</h3>
				
				<p style = "text-align:center;">{{product.charity}}</h5>
				<div id="addToCart">
					<p><a ng-click="addToCart(product.id)" ng-show="{{showIfLogged()}}" class="btn btn-primary" role="button" id="addLink">Add to Cart</a> 
						<a class="btn btn-default" role="button" id="readMore" data-toggle="collapse" data-target="#{{product.id}}1">ReadMore</a>
						<p class="collapse" id="{{product.id}}1">{{product.description}}</p>
					</p>
				</div>
				<p id="success" class="hide alert alert-success">
					Hooray, You added it to your cart!
				</p>
			</div>
		</div>
	</div>
</div>