
<p>Sell</p>
<form>
	<label for="name">Product Name: </label>
	<input id="name" type="text" class="form-control">
	<label for="price">Price: </label>
	<input id="price" type="text" class="form-control">
	<label for="region">Region: </label>
	<input id="region" type="text" class="form-control">
	<label for="charity">Charity: </label>
	<input id="charity" type="text" class="form-control"> 
	<label for="picture">Image: </label>
	<input type="file" id="pic" accept="image/*" class="form-control">
	<button id="add-product" type="submit" class="btn btn-primary">Add Product</button>
</form>


