<div class="logged-in hide" id="sellDiv" ng-controller='sellController'>
	<button id="activateForm" class="btn btn-primary">Sell a Product</button>
	<div  class="hide" id="sellForm">	
		<form name="addItemForm" ng-submit="addItem()" novalidate>

			<label for="name">Product Name: </label>
			<input ng-model="name" id="name" type="text" class="form-control" ng-required="true" name="name">
			<div class="alert alert-warning" ng-show="addItemForm.name.$touched && addItemForm.name.$error.required" role="alert">Missing Name</div>

			<label for="price">Price: </label>
			<input ng-model="price" id="price" name="price" type="number" step="0.01" class="form-control" ng-pattern="/^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})?$/" required>
			<div class="alert alert-warning" ng-show="(addItemForm.price.$touched && addItemForm.price.$error.required) || addItemForm.price.$error.pattern" role="alert">Invalid Price</div>

			<label for="charity">Charity: (Don't see your charity? <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Contact Us</a>)</label>
			<select ng-required="true" ng-model="charity" id="charity" class="form-control">
				<option ng-repeat="charity in charities">{{charity.title}}</option>
			</select>
			<div class="alert alert-warning" ng-show="(addItemForm.charity.$touched && addItemForm.charity.$error.required)" role="alert">You must choose a charity</div>

			<label for="picture">Image URL: </label>
			<input ng-model="image" type="text" id="picture" class="form-control">

			<label for="description">Product Description: </label>
			<textarea ng-model="description" id="description" class="form-control" rows="5"></textarea>

			<button ng-disabled="addItemForm.$invalid" id="add-product" type="submit" class="btn btn-primary">Add Product</button>
		</form>
	</div>
	<div id="selling">
		<h2>What You Are Selling</h2>
		<div ng-repeat="product in products" class="col-sm-6 col-md-4">
		  <div class="thumbnail" id="{{product.id}}">
		    <img ng-src="{{product.image}}" alt="{{product.name}}">
		    <div class="caption">
		      <h3>{{product.name}}</h3>
		      <p>{{product.charity}}</p>
		      <p>
		      	<button ng-click="deleteItem(product.id)" class="btn btn-danger">Delete Item</button> 
		     	<a class="btn btn-default" role="button">ReadMore</a>
		      </p>
		     	<p id="success" class="hide alert alert-success">
		     		Hooray, You added it to your cart!
		     	</p>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="login-message">
	<h2>Login to Sell Items</h2>
</div>